<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{YYYY-MM-DD'T'hh:mm:ss} [%thread] %5p %c{1} - %m AccountId=%X{accountId} CustomerId=%X{customerId} RequestId=%X{requestId} %n</pattern>
		</encoder>
	</appender>

	<root level="TRACE">
		<appender-ref ref="stdout" />
	</root>

</configuration>